:root {
    --light-green: #defcf9;
    --light-blue: #cadefc;
    --light-purple: #c3bef0;
    --light-pink: #cca8e9;
    --dark1: #3e4a61;
    --dark2: #1a2639;
}

body {
    font-family: Arial, sans-serif;
    background-color: var(--light-purple); /* Background color */
    margin: 0;
    padding: 0;
    height: 100vh;
    justify-content: center;
    align-items: center;
}
.logindiv {

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  

}
header {
    background-color: var(--dark1); /* Header background color */
    color: #fff;
    padding: 1rem;
    text-align: center;
}

main {
    padding: 2rem;
    text-align: center;
}

form {
   
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #cca8e9;
    padding: 8%;
    box-shadow: #1a2639;
    border-radius: 5%;
    display: inline-block;

}

input  {

    padding: 5%;
    border-radius: 5%;
    box-shadow: #defcf9;
}

button {

    padding: 5%;
    margin-top: 1rem;
    cursor: pointer;
    background-color: var(--dark1); /* Button background color */
    color: #ece8e8;
    border: none;
}
button:hover  {

    background-color: #1a2639;
}

a {
    display: block;
    margin-top: 1rem;
    color: #007bff; /* Link color */
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
