:root {
    --light-green: #91DDCF;
    --pink: #F19ED2;
    --light-purple: #E8C5E5;
    --light-pink: #cca8e9;
    --dark1: #3e4a61;
    --dark2: #1a2639;
    --green: #91DDCF;
    --purple: #7469B6;
}

body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  
    background-color: var(--pink); /* Background color */
    margin: 0;
    padding: 0;
    display: flex; /* Add this */
    flex-direction: column;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    height: 100vh; /* Ensure the body takes up the full viewport height */

}

label {

    font-size: 19px;
}

.navbar {
    width: 100%;
    background-color: #91DDCF;
    color: #000000;
    position: fixed; /* Sabit pozisyon */
    top: 0; /* Sayfanın tepesinde */
    left: 0;
    z-index: 1000; /* Diğer içeriklerin üstünde kalması için */
    padding: 15px 0; /* Yatay padding */
    text-align: center; /* İçeriği ortalamak için */
}

.backbtn {

    cursor: pointer;
}
.registerdiv {

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    
}

header {
    background-color: var(--light-blue); /* Header background color */
    color: #fff;
    padding: 1rem;
    text-align: center;
}

main {
    padding: 2rem;
    text-align: center;
}

form {
    padding: 1rem;
    border: 1px solid #ddd;
    display: inline-block;
    border-radius: 1%;
    box-shadow: #1a2639;
    background-color: #E8C5E5;
}

button {
    padding: 0.5rem 1rem;
    margin-top: 1rem;
    cursor: pointer;
    background-color: #7469B6; /* Button background color */
    color: var(--dark2);
    border: none;
}

a {
    display: block;
    margin-top: 1rem;
    color: #7469B6; /* Link color */
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
