
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'main/css/contact.css' %}">

</head>
<body>

    <div class="navbar">
        <span class="backbtn" onclick="window.location.href='/'"> 
            &#8592; Back to home
        </span>
    </div>

    
    <div class="contactdiv">
        <span class="attspan">e-mail adress</span>
        <a href="eylulozatman@gmail.com" id="adresslink">eylulozatman@gmail.com</a>
    </div>
</body>
</html>