<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to My Website</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'main/css/homepage.css' %}">
</head>
<body>
    <header>
        <h1 id="welcome">Welcome, {{ user.username }}</h1>
    </header>
    
    <nav>
        <ul>
            <li><a href="#">Home</a></li>
            <li><a href="{% url 'logout' %}">Log-out</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">Services</a></li>
            <li><a href="#">Contact</a></li>
            <li><a href="{% url 'poll-page' %}">Polls</a></li>
        </ul>
    </nav>
  
    <div class="homepage-container">
        <div class="homepage">
            <div class="profilebar">
                <div class="editButton">
                    <a href="{% url 'edit_user_profile' %}">Edit Profile</a>
                </div>
                
                <div id="profilephoto">
                    {% if user_detail.profilephoto %}
                        <img src="{{ user_detail.profilephoto.url }}" alt="Profile Photo" class="profile-photo">
                    {% else %}
                        <img src="https://cdn.pixabay.com/photo/2018/11/13/21/43/avatar-3814049_640.png" alt="Default Profile Photo" class="profile-photo">
                    {% endif %}
                </div>
                <div id="username">
                    {{ user.first_name }} {{ user.last_name }}
                </div>
                <div id="userbio">
                    {{ user_detail.bio }}
                </div>
                <div id="newpostsend">
                    <button  class="btn"  id ="textPostButton" onclick="openPopup('textPostPopup')">Text Post</button>
                    <button class="btn"  id="photoPostButton" onclick="openPopup('photoPostPopup')">Photo Post</button>
                    
                    <div id="textPostPopup" class="popup">
                        <button class="close" onclick="closePopup('textPostPopup')">&times;</button>
                        <h2>Share your idea..</h2>
                        <form action="{% url 'new-post-send' %}" method="post" id="textPostForm" onsubmit="return submitForm('textPostPopup')">
                            {% csrf_token %}
                            <textarea id="textContent" name="title" rows="4" cols="50" placeholder="Write something..."></textarea><br>
                            <button type="submit">Send</button>
                        </form>
                    </div>
                    
                    <div id="photoPostPopup" class="popup">
                        <button class="close" onclick="closePopup('photoPostPopup')">&times;</button>
                        <h2>Share an excellent photo..</h2>
                        <form action="{% url 'photo-post-send' %}" method="post" enctype="multipart/form-data" id="photoPostForm" onsubmit="return submitForm('photoPostPopup')">
                            {% csrf_token %}
                            <input type="file" id="photoFile" name="photo"><br>
                            <input type="text" id="photoTitle" name="title" placeholder="Title"><br>
                            <button type="submit">Send</button>
                        </form>
                    </div>
                </div>
                <div id="mymood">
                </div>
            </div>

            <div class="mainboard">
                <div class="searchBar">
                    <form id="searchForm" method="POST" action="{% url 'search-post' %}">
                        {% csrf_token %}
                        <input type="text" name="searchQuery" placeholder="Enter search term">
                        <button type="submit">Search</button>
                    </form>
                </div>

                <div class="just-friends-div">
                    <button type="button" class="btn {% if user_pref.postsFromFriends %}userPrefSelected{% endif %}"
                        id="just-friends-btn"
                        onclick="SetPostsFromFriends()">
                        <span>Just Friends</span>
                    </button>
                </div>
                
                
                
                <div class="posts">
                    {% for post in posts %}
                    <div class="postInfo">
                        <div class="post-metadata">
                            <div class="post-edit-del">
                                <button type="button" class="edit-del-menu" onclick="toggleEditDelete('{{ post.id }}')">...</button>
                                <div id="edit-delete-menu-{{ post.id }}" class="edit-delete-menu" style="display: none;">
                                    {% if post.is_owner %}
                                    <button type="button" onclick="editPost('{{ post.id }}')">Edit</button>
                                    <form id="edit-post-form-{{ post.id }}" method="post" action="{% url 'edit-one-post' %}" style="display: none;">
                                        {% csrf_token %}
                                        <input type="hidden" name="post_id" value="{{ post.id }}">
                                        <input type="hidden" name="newText" id="new-text-{{ post.id }}">
                                        <button type="submit">Save</button>
                                    </form>
                                    <form method="post" action="{% url 'delete-one-post' %}" class="delete-post-form">
                                        {% csrf_token %}
                                        <input type="hidden" name="post_id" value="{{ post.id }}">
                                        <button type="submit">Delete</button>
                                    </form>
                                    {% endif %}
                                </div>
                            </div>
                            
                            
                            <span class="post-author">{{ post.user.username }}</span>
                            <div class="post-content">
                                <h3 id="post-title-{{ post.id }}" contenteditable="false">{{ post.title }}</h3>
                                {% if post.photo_data %}
                                    <img src="{{post.photo_data}}" alt="photo image">
                            
                                {% endif %}
                            </div>

                            <div class="likediv">
                                <button type="button" id="likebtn-{{ post.id }}" class="like-button {% if post.is_liked %}liked{% else %}not-liked{% endif %}" onclick="postlike('{{ post.id }}')">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-heart" viewBox="0 0 16 16">
                                        <path d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143q.09.083.176.171a3 3 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15"/>
                                    </svg>
                                </button>                                
                            </div>
                        </div>
                    </div>
                {% endfor %}
                
                
                    
                    
                </div>
            </div>
            
            <div class="friendslist">
                <div class="friends-buttons">
                    <button class="btn" id="openSearchPopupButton" onclick="openPopup('searchFriendPopup')">ADD NEW FRIEND &#10051</button>
                    <button class="btn" id="openFriendRequestsPopupButton" onclick="openPopup('friendRequestsPopup')">FRIEND REQUESTS &#128100;</button>
                </div>

                <div id="searchFriendPopup" class="popup">
                    <div class="close" onclick="closePopup('searchFriendPopup')">✖</div>
                    <form id="searchFriendForm" method="POST" action="{% url 'search-person' %}">
                        {% csrf_token %}
                        <input type="text" id="searchQuery" name="searchQuery" placeholder="Enter username, first name, or last name">
                        <button type="submit">SEARCH</button>
                    </form>
                    <div id="searchResults"></div>
                </div>
                
                <div id="friendRequestsPopup" class="popup" data-respond-friend-request-url="{% url 'respond-friend-request' %}">
                    <div class="close" onclick="closePopup('friendRequestsPopup')">✖</div>
                    <h2>Friend Requests</h2>
                    <div id="friendRequestsContainer">
                        {% if friendrequests %}
                            {% for request in friendrequests %}
                                <div class="friend-request" data-request-id="{{ request.id }}">
                                    <span>{{ request.user.username }}</span>
                                    <button onclick="respondToRequest(this, 'accepted')">Accept</button>
                                    <button onclick="respondToRequest(this, 'rejected')">Reject</button>
                                </div>
                            {% endfor %}
                        {% else %}
                            <p>There is no any request.</p>
                        {% endif %}
                    </div>
                </div>
                

                <div class="friend-list">
                    <h2>Friends List</h2>
                    {% for friend in friends %}
                        <div class="friend">
                            <span>{{ friend.username }}</span>
                           
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    <section class="aboutus">
        <h2>About Us</h2>
        <p>Welcome to our website. We provide excellent services...</p>
    </section>

<script src="{% static 'main/js/homepage.js' %}"></script>
</body>
</html>
