<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'main/css/register.css' %}">

    <title>Register</title>
</head>
<body>
    <div class="registerdiv">
        <h1>Register</h1>
        <form method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Register</button>
        </form>
        <a href="{% url 'login' %}">Already have an account? Login here.</a>
    </div>
   
</body>
</html>
